<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing Get vs Post Request</title>
</head>

<body>
  <form action="/" method="post"> <!--  action is the route that the form will be submitted to, method is the type of request that will be sent to the server --> 
    <p>Name: </p>
    <input type="text" name="name" required>
    <p>Password: </p>
    <input type="password" name="password" required>
    <input type="submit" value="Submit">
  </form>

  <style>
    html {
  background-color: rgb(217, 233, 242);
  }

  </style>


</body>